body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.summary-text {
  font-size: 13px;
  line-height: 1;
}